@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="mt-4">
        <a href="~/User/Register" class="btn btn-primary">Register</a> 
        <br>
        <br>
       
        <a href="~/User/Login" class="btn btn-secondary">Login</a>

    </div>
    
</div>
